:root {
    --primary-color: #ed1a3b;
    --secondary-color: #3c3b6e;
    --tertiary-color: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--tertiary-color);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/********** HEADER / NAV BAR STYLES  **************************/


header {
    background: var(--primary-color);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0% 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

header h1 {
    color: var(--tertiary-color);
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;

}



/********** HEADER / NAV BAR FUNCTIONALITY  **************************/

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus~.nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--tertiary-color);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}


nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--primary-color);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--tertiary-color);
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--secondary-color);
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }


    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: var(--secondary-color);
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
/********** TIMELINE STYLES  **************************/
.timeline::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary-color);
}

.timeline ul li {
    
}

}

/********** FOOTER STYLES  **************************/

footer {
    background: var(--primary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: auto;
}

footer h2 {
    color: var(--tertiary-color);
    font-size: 1rem;
}



/********** Driver profile STYLES  **************************/

.drivers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.driver {
    margin: 20px;
    flex: 1;
    background: var(--secondary-color);
    color: var(--tertiary-color);
}


.driver img {
    width: 100%;
}

.driver-bio {
    padding: 25px;
    line-height: 2;
}

.driver-name {
    text-align: center;
}

.driver-bio h3 {
    font-size: 2rem;
}

.driver-flag img {
    height: 8rem;
    width: 8rem;
}

.flex-row {
    display: flex;
}

.section-title {
    font-size: 2rem;
    border-bottom: .18rem solid;
    color: var(--secondary-color);
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 25%;
}

.primary-border {
    border-color: var(--secondary-color);
}

/********** TIMELINE STYLES  **************************/

.time-container {
    min-width: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline ul{
 list-style: none;
}

.timeline ul li{
    padding: 20px;
    background-color: var(--secondary-color);
    color : white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.timeline ul li:last-child {
margin-bottom: 0;
}

timeline-content h3 {
}


